scripts/error_report.txt
*.log
*.csv
*.txt
test_tps/gen_spam_keys/generated_keys.json
test_tps/tps_blast_cc/blast_cc_results.json
scripts/logs/stop_tps.flag
scripts/error_report.txt

# ===== Certificates and Private Keys =====
**/*.pem
**/*.key
test-simple/test-rpc/test-history/history_records.json
block/block_hash_checker/block_hash_checker
*.code-workspace
test-simple/test-rpc/spam_bin
test-simple/test-rpc/spam_counter/counter_test
test-simple/test-rpc/spam_counter/test-counter_TestCounter.abi
test-simple/test-rpc/spam_counter/test-counter_TestCounter.bin
test-simple/test-rpc/spam_counter/TestCounter.bin
scripts/__pycache__/analyze_tx_order.cpython-312.pyc
block/block_hash_checker/block_hash_checker_bin
proof/rust-verifier/target/.rustc_info.json
test_tps/tps_blast_cc/main
block/block_hash_checker/block_hash_checker_ci
register_bls/bls_keys.json
scripts/.ci_monitor.pid
.env
test-simple/test-rpc/test-blockstm/2-read-write/main
test-simple/test-rpc/test-blockstm/1-update-same-contract/main
test-simple/test-rpc/test-blockstm/3-amm-dex/main
test-simple/test-rpc/test-blockstm/4-abort/main
test-simple/test-rpc/test-blockstm/5-gas/main
test-simple/test-rpc/test-blockstm/8-native-mixed-evm/main
test-simple/test-rpc/test-blockstm/9-cross-contract-call/main
test-simple/test-rpc/test-blockstm/10-cross-contract-payable/main
register_bls/tcp/register_bls
test-simple/test-rpc/test-history/test-history
test-simple/test-rpc/test-history/main
