scripts/error_report.txt
*.log
*.csv
*.txt
test_tps/gen_spam_keys/generated_keys.json
test_tps/tps_blast_cc/blast_cc_results.json
scripts/logs/stop_tps.flag
scripts/error_report.txt

# ===== Certificates and Private Keys =====
**/*.pem
**/*.key
test-simple/test-rpc/test-history/history_records.json
block/block_hash_checker/block_hash_checker
*.code-workspace
test-simple/test-rpc/spam_bin
test-simple/test-rpc/spam_counter/counter_test
test-simple/test-rpc/spam_counter/test-counter_TestCounter.abi
test-simple/test-rpc/spam_counter/test-counter_TestCounter.bin
test-simple/test-rpc/spam_counter/TestCounter.bin
scripts/__pycache__/analyze_tx_order.cpython-312.pyc
block/block_hash_checker/block_hash_checker_bin
proof/rust-verifier/target/.rustc_info.json
test_tps/tps_blast_cc/main
block/block_hash_checker/block_hash_checker_ci
register_bls/bls_keys.json
.env
!file-storage/**/.env*
test-simple/test-rpc/test-blockstm/1-update-same-contract/main
test-simple/test-rpc/test-blockstm/3-amm-dex/main
test-simple/test-rpc/test-blockstm/4-abort/main
test-simple/test-rpc/test-blockstm/5-gas/main
test-simple/test-rpc/test-blockstm/8-native-mixed-evm/main
test-simple/test-rpc/test-blockstm/9-cross-contract-call/main
test-simple/test-rpc/test-blockstm/10-cross-contract-payable/main
test-simple/test-rpc/test-blockstm/11-double-spending-same-nonce/main
test-simple/test-rpc/test-blockstm/12-insufficient-balance-parallel/main
test-simple/test-rpc/test-blockstm/13-deploy-and-call-same-block/main
test-simple/test-rpc/test-blockstm/14-selfdestruct-conflict/main
test-simple/test-rpc/test-blockstm/15-xapian-shared-update/main
test-simple/test-rpc/test-blockstm/16-xapian-evm-contract/main
test-simple/test-rpc/test-blockstm/17-xapian-parallel-read-write/main
test-simple/test-rpc/test-blockstm/19-xapian-parallel-update/main
test-simple/test-rpc/test-blockstm/20-xapian-read-after-write-same-block/main
test-simple/test-rpc/test-blockstm/21-sequential-nonce-same-wallet/main
test-simple/test-rpc/test-blockstm/22-block-timestamp/main
test-simple/test-rpc/test-blockstm/24-contract-factory-info/main
test-simple/test-rpc/test-blockstm/6-native-many-to-one/main
test-simple/test-rpc/test-blockstm/7-native-one-to-many/main
test-simple/test-rpc/test-blockstm/spam-contract/main
register_bls/tcp/register_bls
test-simple/test-rpc/test-history/test-history
test-simple/test-rpc/test-history/main
test-simple/test-rpc/test-blockstm/18-update-different-variables/main
.gitignore
test-simple/test-rpc/test-blockstm/19-xapian-parallel-update/test_xapian
file-storage/up-down-debug/benchmark_file.bin
file-storage/load-test/up-down-debug
file-storage/load-test/load-test-bin
file-storage/load-test/load-test
test-simple/test-rpc/test-blockstm/10-cross-contract-payable/test_main
test-simple/test-rpc/test-blockstm/test_report.md
test_tps/tps_contract_parallel/tps_blast_parallel
test_tps/tps_contract_parallel/reports
test-simple/test-rpc/test-blockstm/17.1-xapian-parallel-delete/17.1-xapian-parallel-delete
test-simple/test-rpc/test-blockstm/cross-chain/01-client-only-transfer/01-client-only-transfer
test-simple/test-rpc/test-blockstm/cross-chain/02-cross-chain-caro-game/02-cross-chain-caro-game
test-simple/test-rpc/test-blockstm/cross-chain/03-cross-chain-failure-refund/03-cross-chain-failure-refund
file-storage/deployContract_file_registry/deployContract_file_registry
file-storage/**/deploy/
file-storage/**/deployment_*.json
test-simple/test-rpc/test-blockstm/2-read-write/main
